{% load static %}

<div class="row">

{% for post in page_obj %}
{% if post.is_public %}
	<div class="col-md-6 col-lg-4">
		<a href="{% url 'blog:post_detail' post.id %}">
			<div class="card shadow bg-white rounded">
				{%if post.image %}
					<img src="{{ post.image.url }}" alt="{{ post.title }}" class="main-post-img">
				{% else %}
					<img src="{% static 'img/unnamed.png'%}" class="main-post-img">
				{% endif %}
				<div class="card-body">
					<h5 class="card-title">{{ post.title|truncatechars:24 }}</h5>
					<p class="card-text"> {{ post.description|truncatechars:30 }}</p>
				</div>
			</div>
		</a>
	</div>
{% endif %}
{%endfor%}
</div>