{% extends 'blog/base.html' %}
{% load static %}

{% block title %}投稿詳細 | {{ block.super }} {% endblock %}
{% block description %} {{ object.title}}の詳細画面です {% endblock %}


{% block content %}
<h1>{{ object.title }}</h1>
<p>{{ object.published_at|date }}</p>
<p>{{ object.category.name }}</p>
{% for tag in object.tags.all %}
{{ tag.name }}
{% endfor %}
<hr>
{{ object.content|safe }}
{% for photo in photos %}
<img src="{{ photo.content_image.url }}" width="300" height="200">
{% endfor %}
{% endblock %}
